body {
  background: #232f38;
  color: #fff;
}

.movie-list-heading {
  border-bottom: 2px solid white;
}
.movie-app > .row {
  flex-wrap: wrap;
  margin: 1rem;
}

.max-reached {
  filter: blur(4px);
}

.banner {
  text-align: center;
  font-size: 2rem;
  color: red;
}
  
.movie-list {
  overflow-x: auto;
}

.movie-list-title {
  text-align: center;
  width: 95vw;
  margin: 1rem auto;
}

.card-container {
  overflow-x: auto;
}

.movie-card {
  width: 20rem;
}

.movie-poster {
  max-width: 8rem;
  height: 10rem;
  margin: .5rem auto;
}

.movie-nom-btn, .movie-denom-btn {
  width: 8rem;
  margin: 0 auto;
  text-transform: uppercase;
}

.movie-nom-btn{

}

.movie-denom-btn {
  
}