body {
  background: #232f38;
  color: #fff;
}

.movie-list-heading {
  border-bottom: 2px solid white;
}
.movie-app > .row {
  flex-wrap: wrap;
  margin: 1rem;
}

.max-reached {
  filter: blur(4px);
}

.banner {
  text-align: center;
  font-size: 2rem;
  color: red;
}
  
.movie-list {
  overflow-x: hidden;
}

.movie-list-title {
  text-align: center;
  width: 95vw;
  margin: 1rem auto;
}

.card-container {
  overflow-x: auto;
  overflow-y: hidden;
}

.card-container-sml {
  height: 40vh;
}
.card-container-div-sml {
  height: 27vh;
}

.movie-card {
  width: 15rem;
}

.movie-poster {
  max-width: 8rem;
  height: 10rem;
  margin: .5rem auto;
}

.movie-nom-btn, .movie-denom-btn {
  width: 8rem;
  margin: 0 auto;
  text-transform: uppercase;
}



@media screen and (max-width: 787px) {
  .movie-list-heading {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .movie-list-heading.mb-4 {
    margin-bottom: 1rem !important;
  }

  .search-box {
    margin-bottom: .5rem;
  }

  .h1, h1 {
    font-size: 2rem;
  }

  .h2, h2 {
    font-size: 1.5rem;
  }

  .movie-list-title {
    margin: .5rem auto;
  }

  .h4, h3 {
    font-size: 1rem;
  }
  
  .movie-card {
    width: 10rem;
  }
}